@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), local("SourceSansPro"),
    url("./../fonts/SourceSansPro-Regular.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), local("SourceSansPro"),
    url("./../fonts/SourceSansPro-It.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), local("SourceSansPro"),
    url("./../fonts/SourceSansPro-Bold.ttf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), local("SourceSansPro"),
    url("./../fonts/SourceSansPro-BoldIt.ttf.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --bodyFont: "Source Sans Pro", sans-serif;
  --linkColor: #009a8d;
  --white: white;
  --black: black;
  --text: #333;
  --background: #f0f0f0;
  --outerMargin: 25px;
  --border: 2px solid rgba(0, 0, 0, 0.25);
  --innerMargin: 10px;
  --gap: 10px;
  font-family: var(--bodyFont);
  font-size: 16px;
  line-height: 24px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text);
}

body {
  margin: var(--outerMargin);
}

pre {
  font-family: var(--bodyFont);
}

a {
  text-decoration: none;
  color: var(--linkColor);
}
